* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage {
  width: 100%;
  height: 600px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1500px;
  display: flex;
  align-items: center;
}

.section-left {
  width: 580px;
  height: 445px;
  /* background: url(/assest/image/image8.png); */
  flex-shrink: 0;
}

.section-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.section-right h1 {
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: black;
  margin-bottom: 20px;
}

.section-right p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.04em;
  color: #757575;
  margin-bottom: 30px;
}

.right-buttons {
  display: flex;
  justify-content: space-between;
}

.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-right: 20px;
}

.button-box img {
  margin-bottom: -10px;
}

.button-box a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  padding: 10px 20px;
}

.button-box:first-child {
  background: #f2d4dc;
  border-radius: 14px;
}

.button-box:last-child {
  background: #c3dce3;
  border-radius: 14px;
}

.button-box:nth-child(1) a {
  color: #945069;
}

.button-box:nth-child(2) a {
  color: #2b788b;
}

@media (max-width: 992px) {
  .container {
    width: 100%;
    flex-direction: column;
  }

  .section-left {
    width: 100%;
    height: auto;
    background: url(/assest/image/image8.png);
  }

  .section-right {
    margin: 20px 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    flex-direction: column;
  }

  .section-left {
    width: 100%;
    height: auto;
    background: url(/assest/image/image8.png);
  }

  .section-right {
    margin: 20px 0;
  }

  .section-right h1 {
    font-size: 36px;
  }

  .section-right p {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    flex-direction: column;
  }

  .section-left {
    width: 100%;
    height: auto;
    background: url(/assest/image/image8.png);
  }

  .section-right {
    margin: 20px 0;
  }
}